<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uplooking.crowdfunding.manager.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.uplooking.crowdfunding.bean.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="senddate" jdbcType="CHAR" property="senddate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uplooking.crowdfunding.bean.Message">
    insert into t_message (id, memberid, content, 
      senddate)
    values (#{id,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{senddate,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.uplooking.crowdfunding.bean.Message">
    update t_message
    set memberid = #{memberid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      senddate = #{senddate,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, memberid, content, senddate
    from t_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, memberid, content, senddate
    from t_message
  </select>
</mapper>